.Huhu {
    display: gird;
    justify-content: center;
    max-width: 80%;
}

.color-palette {
    display: flex;
  flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    max-width: 100%;
}

.color-swatch {
    height: 5rem;
    width: 5rem;
    border-radius: 0.7rem;
    margin: 0.5rem;
    cursor: pointer;
    border: 0.3rem solid black;
}

.color-swatch-active {
    box-shadow: inset 0 0 1rem #000000;
    transition: all 0.2s;
}

@media only screen and (max-width: 400px) {
    .color-swatch {
      height: 3rem;
      width: 3rem;
    }
  }